<ion-header>
  <ion-toolbar>
    <ion-title>
      Create New Contract 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
    <!-- The world is your oyster. -->
    <!-- <ng-progress [min]="0" [max]="1"></ng-progress>
  -->
  <div class = "list">
      <ion-card *ngIf="status">
          <ion-card-header>
            Status
          </ion-card-header>
          <ion-card-content>
            {{ status }}
          </ion-card-content>
        </ion-card>
     
    <div class = "item item-input-inset">
      <label class = "item item-input-wrapper">
         <i class = "icon ion-edit placeholder-icon"></i>
         <input type = "text" placeholder = "Amount Insured" id = "amtInsured" [(ngModel)] = "amtInsured"/>
      </label>
   </div>
   <div class = "item item-input-inset">
    <label class = "item item-input-wrapper">
       <i class = "icon ion-edit placeholder-icon"></i>
       Start date:<input type = "text" placeholder = "Start Date" [(ngModel)] = "startDate" />
    </label>
 </div>
 <div class = "item item-input-inset">
  <label class = "item item-input-wrapper">
     <i class = "icon ion-edit placeholder-icon"></i>
     Expiry Date<input type = "text" placeholder = "Expiry Date" [(ngModel)]= "expiryDate" />
  </label>
</div>
<div class = "item item-input-inset">
  <label class = "item item-input-wrapper">
     <i class = "icon ion-edit placeholder-icon"></i>
     <input type = "text" placeholder = "X Geo coordinates 1 " [(ngModel)] = "geoCor11" class ="geo" id = "geoco11"/>
     <input type = "text" placeholder = "Y Geo coordinates 1 " [(ngModel)] = "geoCor12" class ="geo" id = "geoco12"/>
     <input type = "text" placeholder = "X Geo coordinates 2 " [(ngModel)] = "geoCor21" class ="geo" id = "geoco21"/>
     <input type = "text" placeholder = "Y Geo coordinates 2 " [(ngModel)] = "geoCor22" class ="geo" id = "geoco22"/>
     <input type = "text" placeholder = "X Geo coordinates 3 " [(ngModel)] = "geoCor31" class ="geo" id = "geoco31"/>
     <input type = "text" placeholder = "Y Geo coordinates 3 " [(ngModel)] = "geoCor32" class ="geo" id = "geoco32"/>
     <input type = "text" placeholder = "X Geo coordinates 4 " [(ngModel)] = "geoCor41" class ="geo" id = "geoco41"/>
     <input type = "text" placeholder = "Y Geo coordinates 4 " [(ngModel)] = "geoCor42" class ="geo" id = "geoco42"/>

     OR 
     <button ion-button full (click)="selectSource()" class="btn">Select Image</button>
       <button ion-button full (click)="recognizeImage()" [disabled]="!selectedImage" class="rec_btn">Recognize Image</button>
       <img [src]="selectedImage" *ngIf="selectedImage">
       <ion-card *ngIf="imageText">
         <ion-card-header>
           Image Text
         </ion-card-header>
         <ion-card-content>
           {{ imageText }}
         </ion-card-content>
       </ion-card>

     <button ion-button full (click)="createContract()" class="btn1">Create Contract</button>
     
  </label>
</div>



 </div>
    
    <!-- <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
   -->
</ion-content>

