<ion-header>
  <ion-toolbar>
    <ion-title>
      Initiate Claim & Check Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
    <!-- The world is your oyster. -->
    <!-- <ng-progress [min]="0" [max]="1"></ng-progress>
  -->
  <div class = "list">
      <ion-card *ngIf="status">
          <ion-card-header>
            Status
          </ion-card-header>
          <ion-card-content>
            {{ status }}
          </ion-card-content>
        </ion-card>

<div class = "item item-input-inset">
    <label class = "item item-input-wrapper">
       <i class = "icon ion-edit placeholder-icon"></i>
       <input type = "text" placeholder = "Unique policy number" [(ngModel)]= "policyId"/>
       <button ion-button full (click)="takeAction()" class="btn1">Initiate Claim </button>
       <!-- OR 
       <button ion-button full (click)="selectSource()" class="btn">Select Image</button>
         <button ion-button full (click)="recognizeImage()" [disabled]="!selectedImage" class="rec_btn">Recognize Image</button>
         <img [src]="selectedImage" *ngIf="selectedImage">
         <ion-card *ngIf="imageText">
           <ion-card-header>
             Image Text
           </ion-card-header>
           <ion-card-content>
             {{ imageText }}
           </ion-card-content>
         </ion-card>-->
         <br>
        <button ion-button full (click)="contractStatus()" class="btn">Contract status</button> 
     <!--  <button ion-button full (click)="weatherData()" class="btn">Weather status</button> -->
    </label>
 </div>

 </div>
    
    <!-- <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
   -->
</ion-content>
