<ion-header>
  <ion-toolbar>
    <ion-title>
      Insure-Farm {{ status }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
    <!-- The world is your oyster. -->
    <!-- <ng-progress [min]="0" [max]="1"></ng-progress>
  -->
  <div class = "list">
      <div class = "item item-input-inset">
          <div class = "item item-input-inset">
              <label class = "item item-input-wrapper">
                 <i class = "icon ion-edit placeholder-icon"></i>
                 <input type = "text" placeholder = "First Name" id="fname" />
              </label>
           </div>
           <div class = "item item-input-inset">
              <label class = "item item-input-wrapper">
                 <i class = "icon ion-edit placeholder-icon"></i>
                 <input type = "text" placeholder = "Last Name" id="lname" />
              </label>
           </div>
           <div class = "item item-input-inset">
              <label class = "item item-input-wrapper">
                 <i class = "icon ion-edit placeholder-icon"></i>
                 <input type = "text" placeholder = "Email ID" id="email" />
              </label>
           </div>
      </div>
      <button ion-button full (click)="createUser()" class="btn">Create User</button>
 
    

    <div class = "item item-input-inset">
      <label class = "item item-input-wrapper">
         <i class = "icon ion-edit placeholder-icon"></i>
         <input type = "text" placeholder = "Amount Insured" id = "amtInsured"/>
      </label>
   </div>
   <div class = "item item-input-inset">
    <label class = "item item-input-wrapper">
       <i class = "icon ion-edit placeholder-icon"></i>
       Start date:<input type = "date" placeholder = "Start Date" id = "startDate" placeholder="YYYY-MM-DD"/>
    </label>
 </div>
 <div class = "item item-input-inset">
  <label class = "item item-input-wrapper">
     <i class = "icon ion-edit placeholder-icon"></i>
     Expiry Date<input type = "date" placeholder = "Expiry Date" id = "expiryDate" />
  </label>
</div>
<div class = "item item-input-inset">
  <label class = "item item-input-wrapper">
     <i class = "icon ion-edit placeholder-icon"></i>
     <input type = "text" placeholder = "X Geo coordinates 1 " id = "geoCor11" class ="geo"/>
     <input type = "text" placeholder = "Y Geo coordinates 1 " id = "geoCor12" class ="geo" />
     <input type = "text" placeholder = "X Geo coordinates 2 " id = "geoCor21" class ="geo" />
     <input type = "text" placeholder = "Y Geo coordinates 2 " id = "geoCor22" class ="geo"/>
     <input type = "text" placeholder = "X Geo coordinates 3 " id = "geoCor31" class ="geo"/>
     <input type = "text" placeholder = "Y Geo coordinates 3 " id = "geoCor32" class ="geo"/>
     <input type = "text" placeholder = "X Geo coordinates 4 " id = "geoCor41" class ="geo"/>
     <input type = "text" placeholder = "Y Geo coordinates 4 " id = "geoCor42" class ="geo"/>
     <button ion-button full (click)="createContract()" class="btn1">Create Contract</button>
  </label>
</div>

<div class = "item item-input-inset">
    <label class = "item item-input-wrapper">
       <i class = "icon ion-edit placeholder-icon"></i>
       <input type = "text" placeholder = "Unique policy number" id = "policyId"/>
       OR 
       <button ion-button full (click)="selectSource()" class="btn">Select Image</button>
         <button ion-button full (click)="recognizeImage()" [disabled]="!selectedImage" class="rec_btn">Recognize Image</button>
         <img [src]="selectedImage" *ngIf="selectedImage">
         <ion-card *ngIf="imageText">
           <ion-card-header>
             Image Text
           </ion-card-header>
           <ion-card-content>
             {{ imageText }}
           </ion-card-content>
         </ion-card>
       <button ion-button full (click)="contractStatus()" class="btn1">Contract status</button>
    </label>
 </div>

 </div>
    
    <!-- <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
   -->
</ion-content>

<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Tesseract
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
  <ng-progress [min]="0" [max]="1"></ng-progress>
 
  <button ion-button full (click)="selectSource()">Select Image</button>
  <button ion-button full (click)="recognizeImage()" [disabled]="!selectedImage">Recognize Image</button>
 
  <img [src]="selectedImage" *ngIf="selectedImage">
 
  <ion-card *ngIf="imageText">
    <ion-card-header>
      Image Text
    </ion-card-header>
    <ion-card-content>
      {{ imageText }}
    </ion-card-content>
  </ion-card>
</ion-content> -->
